<div class="container mx-auto my-5">
    <div class="flex justify-center">
        <div class="w-full max-w-md">
            <div class="bg-white p-8 rounded-lg shadow-lg">
                <div class="mb-6">
                    <h3 class="text-2xl font-bold text-primary">Reset Password</h3>
                    <p class="text-gray-600">Enter your new password below.</p>
                </div>
                <form class="form" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
                    <div class="mb-6">
                        <label for="password" class="block mb-2 font-bold text-gray-700">New Password</label>
                        <input type="password" [(ngModel)]="password" name="password"
                            class="form-input w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary"
                            id="password" required>
                        <div *ngIf="resetPasswordForm.controls['password']?.invalid && (resetPasswordForm.controls['password']?.dirty || resetPasswordForm.controls['password']?.touched)"
                            class="mt-1 text-sm text-red-600">
                            <div *ngIf="resetPasswordForm.controls['password'].errors?.required">
                                Password is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <button type="submit" [disabled]="resetPasswordForm?.invalid"
                            class="w-full py-2 px-4 bg-primary hover:bg-primary-dark text-white rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
