.shadow-lg {
  --tw-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.card {
    border: none;
    background-color: #F5F5F5;
    width: fit-content;
  }
  
  .card-header {
    border-radius: 0;
    background-color: #007bff;
  }
  
  .card-header h3 {
    color: #FFFFFF;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
  }
  
  .btn-primary:hover {
    background-color: #148F77;
    border-color: #148F77;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
  }
  
  .btn-primary:active,
  .btn-primary.active {
    background-color: #148F77;
    border-color: #148F77;
  }
  
  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    opacity: 0.65;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
  }
  
  @media (min-width: 768px) {
    .body {
      border: 1px solid rgba(0.125, 0.125, 0.125, 0.125);
      border-radius: 0.25rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  